.CartComponent {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 72px 0 85px 0;
}

.CartComponentContent {
    display: flex;
    gap: 30px;

}

.cccSummary {
    display: flex;
    flex-direction: column;
    background-color: rgba(249, 241, 231, 1);
    padding: 15px 75px 80px 75px;
    align-items: center;
}

.cccSummary>h1 {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 60px;
}

.cccSummary>p,
.cccSummaryValuesTotal>p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.cccSummaryValues>p:last-of-type {
    font-weight: 400;
    color: rgba(159, 159, 159, 1);
}

.cccSummaryValuesTotal {
    margin-top: 31px;
}

.cccsvFinalValue {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: rgba(184, 142, 47, 1);
}

.cccSummaryValues,
.cccSummaryValuesTotal {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: space-between;
}

.cccSummary>button {
    margin-top: 48px;
    cursor: pointer;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 12px 59px 12px 59px;
    border-radius: 15px;
    border: 1px solid black;
}

.cccSummary>button:hover {
    padding: 13px 60px 13px 60px;
    border: none;
    background-color: #B88E2F;
    color: white;
}

.cccGridFields {
    background-color: rgba(249, 241, 231, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 150px 16px 150px;
}

.cccgfCell {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.cccgfCell.product {
    margin-right: 115px;
}

.cccgfCell.price {
    margin-right: 140px;
}

.cccgfCell.quantity {
    margin-right: 40px;
}

.cccGridItems {
    margin-top: 10px;
    display: grid;
    gap: 10px;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}