.ProductColorVariation {
    height: 29px;
    width: 29px;
    border-radius: 50%;
    padding: 1px;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: border 0.3s, padding 0.3s;
    cursor: pointer;
}

.ProductColorVariation:hover {
    padding: 0;
    border: 2px solid #ccc;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.5);
}

.ProductColorVariation.selected {
    padding: 0;
    border: 2px solid #000;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
}

.ProductColorVariationDisabled {
    height: 29px;
    width: 29px;
    border-radius: 50%;
    background-color: #767676;
    cursor: not-allowed; 
}
