.productSizeVariation {
    cursor: pointer;
    padding: 5px 12px 5px 12px;
    border: none;
    border-radius: 5px;
    background-color: rgba(249, 241, 231, 1);
}

.productSizeVariation:hover {
    color: white;
    background-color: rgba(184, 142, 47, 1);
}